@font-face {
	font-family: 'Raleway';
	src:  url('fonts/Raleway-SemiBold.eot');
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
		 url('fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Raleway-SemiBold.woff') format('woff'),
		 url('fonts/Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src:  url('fonts/Raleway-Medium.eot');
	src: local('Raleway Medium'), local('Raleway-Medium'),
		 url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Raleway-Medium.woff') format('woff'),
		 url('fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-ExtraBold.eot');
	src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
		url('fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-ExtraBold.woff') format('woff'),
		url('fonts/Raleway-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}