@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/OpenSans-Regular.woff') format('woff'),
		url('fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}